<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638712834509-f9aqo96km2kih9c68hq9389g6v57n3ja.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638712834509-f9aqo96km2kih9c68hq9389g6v57n3ja</string>
	<key>API_KEY</key>
	<string>AIzaSyDpJu7DY0RQ2DO_dvREsnk7JTVtCvuC5n4</string>
	<key>GCM_SENDER_ID</key>
	<string>638712834509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kobashou06.odai</string>
	<key>PROJECT_ID</key>
	<string>samplefirestore-87f25</string>
	<key>STORAGE_BUCKET</key>
	<string>samplefirestore-87f25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:638712834509:ios:433049cb984f83231f3c84</string>
</dict>
</plist>
